bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

body{
    background: #e0e2ff;
    width: 100%;
    font-family: futura;
}
img{
    width: 300px;
    float: right;
    
}
h1{
    color: rgb(43, 43, 43);
}

.home{
    align-items: center;
    color: black;
    padding-right: 50%;
}
.button a{
    color: #fff;
}
.about{
    height: 400px; 
}

.skills{
    background: rgb(29, 29, 29);
    color: #fff;
    height: 300px;
    padding: 30px;
}
.skills h1{
    color: #fff;

}
.portfolio{
    height: 700px;    
    background-image: url(../img/bg.jpg);
    background-size: cover;
    /*background-position: center top;*/
}

.contacts{
    background: rgb(0, 0, 0);
    height: 550px;
    color: #fff;
    padding-bottom: 10px;
}
.footer{
    height: 30px;
}

/*---socialmedia icons---*/
.bi{
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  .bi:hover {
    opacity: 0.7;
  }