body{
    background: #e0e2ff;
    width: 100%;
    height: 3200px;
}
img{
    width: 300px;
    box-sizing: border-box;
    float: right;
}
h1{
    color: rgb(43, 43, 43);
}

p {
    color: #202020
}

.menu{
    background: yellowgreen;
}
.home{
    background: mediumseagreen;
    align-items: center;

}

.about{
    background: brown;
    height: 400px;
    padding: 30px;

}
.skills{
    background: rgb(29, 29, 29);
    color: #fff;
    height: 200px;
    padding: 30px;
}
.projects{
    background: yellowgreen;
    height: 300px;
    padding: 30px;

}
.projects img{
    height: 300px;    
}

.contacts{
    background: rgb(0, 0, 0);
    height: 500px;
    color: #fff;
}

.col-6{
    height: 500px;
    padding: 30px;
}

