body{
    background: #e0e2ff;
    width: 100%;
    height: 3200px;
}
img{
    width: 300px;
    padding: 50px;
    float: right;
}
h1{
    color: rgb(43, 43, 43);
}

.home{
    align-items: center;
    color: black;

}
.button a{
    color: #fff;
}
.about{
    background: rgb(65, 63, 63);
    height: 400px;
    padding: 30px;

}
.skills{
    background: rgb(29, 29, 29);
    color: #fff;
    height: 200px;
    padding: 30px;
}
.projects{
    background: yellowgreen;
    height: 300px;
    padding: 30px;

}
.projects img{
    height: 300px;    
}

.contacts{
    background: rgb(0, 0, 0);
    height: 500px;
    color: #fff;
}

.col-6{
    height: 500px;
    padding: 30px;
}

